## Dependencies & Setup

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load Oil Prices Data File

In [59]:
# Paths to Oil DOW Prices Data File
oil_dow_prices_file = "data/oil_dow_prices.csv"

# Read the data file using Pandas
oil_prices_original = pd.read_csv(oil_dow_prices_file)

## Cleanup & Inspect Oil Prices Data

In [61]:
# Drop unwanted columns from Oil Prices DataFrame
oil_prices_dropped = oil_prices_original.drop(['Unnamed: 0', 'Close Price'], axis=1)
# Rename columns
oil_prices_new = oil_prices_dropped.rename(columns = {'date':'Price Date', 'Crude_Oil_Price':'Crude Oil Price'})
# Add a new column for Price Year-Month
oil_prices_new['Price Year-Month'] = pd.to_datetime(oil_prices_new['Price Date']).dt.to_period('M')

# Filter for oil prices between 2010 and 2017 and create a clean new DataFrame
start_date = "2010-01-01"
end_date = "2017-12-01"
oil_prices_clean = oil_prices_new.loc[(oil_prices_new['Price Date'] >= start_date) & (oil_prices_new['Price Date'] <= end_date)]
oil_prices_clean.drop(['Price Date'], axis=1, inplace=True)
oil_prices_clean.reset_index(drop=True, inplace=True)
oil_prices_clean.info()
print(oil_prices_clean)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 2 columns):
Crude Oil Price     96 non-null float64
Price Year-Month    96 non-null period[M]
dtypes: float64(1), period[M](1)
memory usage: 1.6 KB
    Crude Oil Price Price Year-Month
0             72.87          2010-01
1             72.74          2010-02
2             75.77          2010-03
3             78.80          2010-04
4             70.91          2010-05
..              ...              ...
91            44.96          2017-08
92            47.17          2017-09
93            49.12          2017-10
94            55.19          2017-11
95            56.98          2017-12

[96 rows x 2 columns]

## Load Oil Pipeline Accidents Data File

In [42]:
# Paths to Oil Pipeline Accidents Data File
oil_pipeline_accidents_file = "data/Oil_Pipeline_Accidents_2010-2017.csv"

# Read the data file using Pandas
oil_accidents_original = pd.read_csv(oil_pipeline_accidents_file)

## Cleanup Oil Pipeline Accidents Data

In [5]:
# Inspect the Oil Accidents DataFrame
oil_accidents_original.head()

,Report Number,Supplemental Number,Accident Year,Accident Date/Time,Operator ID,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,20100016,17305,2010,1/1/2010 7:15 AM,32109,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,110.0,1517.0,0.0,0.0,0.0,0.0,1627
1,20100254,17331,2010,1/4/2010 8:30 AM,15786,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,NaN,NaN,NaN,4000.0,8.0,0.0,0.0,0.0,0.0,4008
2,20100038,17747,2010,1/5/2010 10:30 AM,20160,"PETROLOGISTICS OLEFINS, LLC",NaN,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,NaN,NaN,NaN,0.0,200.0,0.0,0.0,0.0,0.0,200
3,20100260,18574,2010,1/6/2010 7:30 PM,11169,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,200.0,40.0,0.0,11300.0,0.0,0.0,11540
4,20100030,16276,2010,1/7/2010 1:00 PM,300,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,...,NaN,NaN,NaN,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650

In [43]:
# Inspect columns from Oil Accidents DataFrame
oil_accidents_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2795 entries, 0 to 2794
Data columns (total 48 columns):
Report Number                           2795 non-null int64
Supplemental Number                     2795 non-null int64
Accident Year                           2795 non-null int64
Accident Date/Time                      2795 non-null object
Operator ID                             2795 non-null int64
Operator Name                           2795 non-null object
Pipeline/Facility Name                  2674 non-null object
Pipeline Location                       2795 non-null object
Pipeline Type                           2777 non-null object
Liquid Type                             2795 non-null object
Liquid Subtype                          1349 non-null object
Liquid Name                             222 non-null object
Accident City                           2480 non-null object
Accident County                         2720 non-null object
Accident State                          2783 non-null object
Accident Latitude                       2795 non-null float64
Accident Longitude                      2795 non-null float64
Cause Category                          2795 non-null object
Cause Subcategory                       2795 non-null object
Unintentional Release (Barrels)         2795 non-null float64
Intentional Release (Barrels)           1209 non-null float64
Liquid Recovery (Barrels)               2795 non-null float64
Net Loss (Barrels)                      2795 non-null float64
Liquid Ignition                         2795 non-null object
Liquid Explosion                        2795 non-null object
Pipeline Shutdown                       2583 non-null object
Shutdown Date/Time                      1390 non-null object
Restart Date/Time                       1341 non-null object
Public Evacuations                      2338 non-null float64
Operator Employee Injuries              12 non-null float64
Operator Contractor Injuries            12 non-null float64
Emergency Responder Injuries            12 non-null float64
Other Injuries                          12 non-null float64
Public Injuries                         12 non-null float64
All Injuries                            12 non-null float64
Operator Employee Fatalities            8 non-null float64
Operator Contractor Fatalities          8 non-null float64
Emergency Responder Fatalities          8 non-null float64
Other Fatalities                        8 non-null float64
Public Fatalities                       8 non-null float64
All Fatalities                          8 non-null float64
Property Damage Costs                   2788 non-null float64
Lost Commodity Costs                    2791 non-null float64
Public/Private Property Damage Costs    2785 non-null float64
Emergency Response Costs                2789 non-null float64
Environmental Remediation Costs         2787 non-null float64
Other Costs                             2779 non-null float64
All Costs                               2795 non-null int64
dtypes: float64(25), int64(5), object(18)
memory usage: 1.0+ MB

In [44]:
# Drop unwanted columns from Oil Accidents DataFrame
oil_accidents_dropped = oil_accidents_original.drop(['Report Number', 'Supplemental Number', 'Operator ID', 'Unintentional Release (Barrels)', 'Intentional Release (Barrels)', 'Liquid Recovery (Barrels)', 'Liquid Ignition', 'Liquid Explosion', 'Pipeline Shutdown', 'Shutdown Date/Time', 'Restart Date/Time'], axis=1)

# Fill missing/blank values in DataFrame using the apply function based on the data type of the column
oil_accidents_new = oil_accidents_dropped.apply(lambda x: x.fillna(0.0) if x.dtype.kind in 'f' else x.fillna('Not Available'))

oil_accidents_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2795 entries, 0 to 2794
Data columns (total 37 columns):
Accident Year                           2795 non-null int64
Accident Date/Time                      2795 non-null object
Operator Name                           2795 non-null object
Pipeline/Facility Name                  2795 non-null object
Pipeline Location                       2795 non-null object
Pipeline Type                           2795 non-null object
Liquid Type                             2795 non-null object
Liquid Subtype                          2795 non-null object
Liquid Name                             2795 non-null object
Accident City                           2795 non-null object
Accident County                         2795 non-null object
Accident State                          2795 non-null object
Accident Latitude                       2795 non-null float64
Accident Longitude                      2795 non-null float64
Cause Category                          2795 non-null object
Cause Subcategory                       2795 non-null object
Net Loss (Barrels)                      2795 non-null float64
Public Evacuations                      2795 non-null float64
Operator Employee Injuries              2795 non-null float64
Operator Contractor Injuries            2795 non-null float64
Emergency Responder Injuries            2795 non-null float64
Other Injuries                          2795 non-null float64
Public Injuries                         2795 non-null float64
All Injuries                            2795 non-null float64
Operator Employee Fatalities            2795 non-null float64
Operator Contractor Fatalities          2795 non-null float64
Emergency Responder Fatalities          2795 non-null float64
Other Fatalities                        2795 non-null float64
Public Fatalities                       2795 non-null float64
All Fatalities                          2795 non-null float64
Property Damage Costs                   2795 non-null float64
Lost Commodity Costs                    2795 non-null float64
Public/Private Property Damage Costs    2795 non-null float64
Emergency Response Costs                2795 non-null float64
Environmental Remediation Costs         2795 non-null float64
Other Costs                             2795 non-null float64
All Costs                               2795 non-null int64
dtypes: float64(22), int64(2), object(13)
memory usage: 808.1+ KB

In [45]:
# Inspect the new Oil Accidents DataFrame
oil_accidents_new.head()

,Accident Year,Accident Date/Time,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,Liquid Subtype,Liquid Name,Accident City,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,2010,1/1/2010 7:15 AM,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",LPG (LIQUEFIED PETROLEUM GAS) / NGL (NATURAL G...,Not Available,MCPHERSON,...,0.0,0.0,0.0,110.0,1517.0,0.0,0.0,0.0,0.0,1627
1,2010,1/4/2010 8:30 AM,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,Not Available,Not Available,RAYMOND,...,0.0,0.0,0.0,4000.0,8.0,0.0,0.0,0.0,0.0,4008
2,2010,1/5/2010 10:30 AM,"PETROLOGISTICS OLEFINS, LLC",Not Available,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",OTHER HVL,ETHANE,SULPHER,...,0.0,0.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,200
3,2010,1/6/2010 7:30 PM,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,Not Available,Not Available,SUPERIOR,...,0.0,0.0,0.0,200.0,40.0,0.0,11300.0,0.0,0.0,11540
4,2010,1/7/2010 1:00 PM,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,Not Available,Not Available,SHERMAN,...,0.0,0.0,0.0,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650

In [55]:
# Change the All Costs column to float values and Accident Date/Time to Date
oil_accidents_clean = oil_accidents_new.astype({'All Costs': float})
oil_accidents_clean['Accident Date/Time'] = pd.to_datetime(oil_accidents_clean['Accident Date/Time']).dt.strftime('%Y-%m-%d')
oil_accidents_clean.rename(columns = {'Accident Date/Time': 'Accident Date'}, inplace=True)
oil_accidents_clean.head()

,Accident Year,Accident Date,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,Liquid Subtype,Liquid Name,Accident City,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,2010,2010-01-01,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",LPG (LIQUEFIED PETROLEUM GAS) / NGL (NATURAL G...,Not Available,MCPHERSON,...,0.0,0.0,0.0,110.0,1517.0,0.0,0.0,0.0,0.0,1627.0
1,2010,2010-01-04,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,Not Available,Not Available,RAYMOND,...,0.0,0.0,0.0,4000.0,8.0,0.0,0.0,0.0,0.0,4008.0
2,2010,2010-01-05,"PETROLOGISTICS OLEFINS, LLC",Not Available,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",OTHER HVL,ETHANE,SULPHER,...,0.0,0.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,200.0
3,2010,2010-01-06,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,Not Available,Not Available,SUPERIOR,...,0.0,0.0,0.0,200.0,40.0,0.0,11300.0,0.0,0.0,11540.0
4,2010,2010-01-07,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,Not Available,Not Available,SHERMAN,...,0.0,0.0,0.0,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650.0

In [56]:
# Create a new DataFrame by adding a new column for Accident Month & Year
oil_accidents_clean['Accident Year-Month'] = pd.to_datetime(oil_accidents_clean['Accident Date']).dt.to_period('M')
accident_year_month = oil_accidents_clean['Accident Year-Month']
oil_accidents_clean.drop(labels=['Accident Year-Month'], axis=1, inplace=True)
oil_accidents_clean.insert(1, 'Accident Year-Month', accident_year_month)
oil_accidents_clean.head()

,Accident Year,Accident Year-Month,Accident Date,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,Liquid Subtype,Liquid Name,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,2010,2010-01,2010-01-01,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",LPG (LIQUEFIED PETROLEUM GAS) / NGL (NATURAL G...,Not Available,...,0.0,0.0,0.0,110.0,1517.0,0.0,0.0,0.0,0.0,1627.0
1,2010,2010-01,2010-01-04,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,Not Available,Not Available,...,0.0,0.0,0.0,4000.0,8.0,0.0,0.0,0.0,0.0,4008.0
2,2010,2010-01,2010-01-05,"PETROLOGISTICS OLEFINS, LLC",Not Available,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",OTHER HVL,ETHANE,...,0.0,0.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,200.0
3,2010,2010-01,2010-01-06,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,Not Available,Not Available,...,0.0,0.0,0.0,200.0,40.0,0.0,11300.0,0.0,0.0,11540.0
4,2010,2010-01,2010-01-07,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,Not Available,Not Available,...,0.0,0.0,0.0,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650.0

In [62]:
# Merge the Oil Prices and Oil Accidents DataFrames
oil_prices_accidents = pd.merge(oil_prices_clean, oil_accidents_clean, how='inner', left_on='Price Year-Month', right_on='Accident Year-Month')
#oil_prices_accidents_filtered = oil_prices_accidents.loc[(oil_prices_accidents['Price Date'] == '2010-06-01')]
oil_prices_accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2795 entries, 0 to 2794
Data columns (total 40 columns):
Crude Oil Price                         2795 non-null float64
Price Year-Month                        2795 non-null period[M]
Accident Year                           2795 non-null int64
Accident Year-Month                     2795 non-null period[M]
Accident Date                           2795 non-null object
Operator Name                           2795 non-null object
Pipeline/Facility Name                  2795 non-null object
Pipeline Location                       2795 non-null object
Pipeline Type                           2795 non-null object
Liquid Type                             2795 non-null object
Liquid Subtype                          2795 non-null object
Liquid Name                             2795 non-null object
Accident City                           2795 non-null object
Accident County                         2795 non-null object
Accident State                          2795 non-null object
Accident Latitude                       2795 non-null float64
Accident Longitude                      2795 non-null float64
Cause Category                          2795 non-null object
Cause Subcategory                       2795 non-null object
Net Loss (Barrels)                      2795 non-null float64
Public Evacuations                      2795 non-null float64
Operator Employee Injuries              2795 non-null float64
Operator Contractor Injuries            2795 non-null float64
Emergency Responder Injuries            2795 non-null float64
Other Injuries                          2795 non-null float64
Public Injuries                         2795 non-null float64
All Injuries                            2795 non-null float64
Operator Employee Fatalities            2795 non-null float64
Operator Contractor Fatalities          2795 non-null float64
Emergency Responder Fatalities          2795 non-null float64
Other Fatalities                        2795 non-null float64
Public Fatalities                       2795 non-null float64
All Fatalities                          2795 non-null float64
Property Damage Costs                   2795 non-null float64
Lost Commodity Costs                    2795 non-null float64
Public/Private Property Damage Costs    2795 non-null float64
Emergency Response Costs                2795 non-null float64
Environmental Remediation Costs         2795 non-null float64
Other Costs                             2795 non-null float64
All Costs                               2795 non-null float64
dtypes: float64(24), int64(1), object(13), period[M](2)
memory usage: 895.3+ KB

In [66]:
# Inspect the merged DataFrame
# We will see rows where we have Oil Price Data but no record of Accident data for those dates
# Vice-versa we will also see rows where there is a recorded Accident, but Price Data is not available
oil_prices_accidents.head()

,Crude Oil Price,Price Year-Month,Accident Year,Accident Year-Month,Accident Date,Operator Name,Pipeline/Facility Name,Pipeline Location,Pipeline Type,Liquid Type,...,Other Fatalities,Public Fatalities,All Fatalities,Property Damage Costs,Lost Commodity Costs,Public/Private Property Damage Costs,Emergency Response Costs,Environmental Remediation Costs,Other Costs,All Costs
0,72.87,2010-01,2010,2010-01,2010-01-01,ONEOK NGL PIPELINE LP,KINDER MORGAN JCT,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,0.0,0.0,0.0,110.0,1517.0,0.0,0.0,0.0,0.0,1627.0
1,72.87,2010-01,2010,2010-01,2010-01-04,PORTLAND PIPELINE CORP,24-INCH MAIN LINE,ONSHORE,ABOVEGROUND,CRUDE OIL,...,0.0,0.0,0.0,4000.0,8.0,0.0,0.0,0.0,0.0,4008.0
2,72.87,2010-01,2010,2010-01,2010-01-05,"PETROLOGISTICS OLEFINS, LLC",Not Available,ONSHORE,ABOVEGROUND,"HVL OR OTHER FLAMMABLE OR TOXIC FLUID, GAS",...,0.0,0.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,200.0
3,72.87,2010-01,2010,2010-01,2010-01-06,"ENBRIDGE ENERGY, LIMITED PARTNERSHIP",SUPERIOR TERMINAL,ONSHORE,UNDERGROUND,CRUDE OIL,...,0.0,0.0,0.0,200.0,40.0,0.0,11300.0,0.0,0.0,11540.0
4,72.87,2010-01,2010,2010-01,2010-01-07,"PLAINS PIPELINE, L.P.",RED RIVER EAST,ONSHORE,UNDERGROUND,CRUDE OIL,...,0.0,0.0,0.0,20000.0,150.0,0.0,7500.0,2000.0,0.0,29650.0

In [89]:
oil_prices_accidents_grouped = oil_prices_accidents.groupby(['Accident Year-Month'])

#accidents_by_month = oil_prices_accidents_grouped['Accident Year-Month'].count()
oil_prices_accidents_by_yearmonth = oil_prices_accidents_grouped['Crude Oil Price'].value_counts()

oil_prices_accidents_summary = pd.DataFrame(oil_prices_accidents_by_yearmonth)

oil_prices_accidents_summary.rename(columns = {'Crude Oil Price':'Number of Accidents'}, inplace=True)
oil_prices_accidents_summary.head()

                                     Number of Accidents
Accident Year-Month Crude Oil Price
2010-01             72.87                             34
2010-02             72.74                             16
2010-03             75.77                             32
2010-04             78.80                             32
2010-05             70.91                             30