In [61]:
import requests
import json
from pprint import pprint
import pandas as pd
from config import api_key

In [62]:
state = '06'
county = '075'
year = '2016'
variables_interest = ['NAICS2012_TTL,EMP,ESTAB']
# pulling sectors for mining/quarring, utilities, construction, manufactoring, & wholesale trade
sectors = ["31-33","21","22","42","48-49"]
base_url = f"https://api.census.gov/data/{year}/cbp?get={variables_interest[0]}&NAICS2012={sectors[0]}&NAICS2012={sectors[1]}&NAICS2012={sectors[2]}&NAICS2012={sectors[3]}&NAICS2012={sectors[4]}&for=county:{county}&in=state:{state}&key={api_key}"
# base_url = f"https://api.census.gov/data/{year}/cbp?get={variables_interest[0]}&NAICS2012={sectors[0]}&for=county:*&in=state:{state}&key={api_key}"
response = requests.get(base_url).json()

In [60]:
response

[['NAICS2012_TTL', 'EMP', 'ESTAB', 'NAICS2012', 'state', 'county'],
 ['Mining, quarrying, and oil and gas extraction',
  '49',
  '6',
  '21',
  '06',
  '075'],
 ['Utilities', '0', '15', '22', '06', '075'],
 ['Manufacturing', '7894', '725', '31-33', '06', '075'],
 ['Wholesale trade', '15483', '1183', '42', '06', '075'],
 ['Transportation and warehousing', '8859', '395', '48-49', '06', '075']]

In [59]:
columns = ['NAICS2012_TTL','EMP','ESTAB','NAICS2012',"State","County"]
df = pd.DataFrame(data = response,columns=columns)
df.drop(df.index[0])

,NAICS2012_TTL,EMP,ESTAB,NAICS2012,State,County
1,"Mining, quarrying, and oil and gas extraction",49,6,21,06,075
2,Utilities,0,15,22,06,075
3,Manufacturing,7894,725,31-33,06,075
4,Wholesale trade,15483,1183,42,06,075
5,Transportation and warehousing,8859,395,48-49,06,075