In [35]:
import pandas as pd
import random

# The data to load
f = "msa.csv"

# Count the lines
num_lines = sum(1 for l in open(f))

# Sample size - retrieving header and 5 MSA's
size = 6

# The row indices to skip - make sure 0 is not included to keep the header
skip_idx = random.sample(range(1, num_lines), num_lines - size)

# Read the data
data = pd.read_csv(f, skiprows=skip_idx)

# Display the sample
data

                                                 MSA
0            Pittsburgh-New Castle-Weirton, PA-OH-WV
1          Cincinnati-Wilmington-Maysville, OH-KY-IN
2                                          Chico, CA
3   Atlanta-Athens-Clarke County-Sandy Springs, G...
4             Brownsville-Harlingen-Raymondville, TX